table {
border-collapse: collapse;
}

td {
background-image: url(tileset.png);
width: 100px;
height: 100px;
}

img {
width: 100px;
height: 100px;
}

td.wood {
background-position: 0 0;
}

td.stone {
background-position: 100px 0;
}

td.void {
background-position: 0 100px;
}

td.ww2 {
background-position: 100px 100px;
}